$blueberry-500: #4265e3;
$blueberry-300: #a6b5ec;
$blueberry-50: #f6f4ff;
$salmon: #ffb7b7;
$grey-900: #212121;
$grey-800: #44484b;
$grey-600: #72747b;
$grey-400: #babdc7;
$grey-200: #e8e9ef;
$grey-100: #f8f8f8;
$white: #ffffff;

@mixin dotted-bg {
  background-image: radial-gradient($grey-200 2px, transparent 0);
  background-size: 32px 32px;
  background-position: center top;
  @supports (background-attachment: fixed) {
    background-attachment: fixed;
  }
}
