// Colours

$blueberry-500: #4f6fe5;
$blueberry-300: #a6b5ec;
$blueberry-50: #f6f4ff;
$salmon: #ffb7b7;
$grey-900: #212121;
$grey-800: #484848;
$grey-600: #808492;
$grey-400: #babdc7;
$grey-200: #e8e9ef;
$grey-100: #f3f3f4;
$white: #ffffff;

// Font weights

$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
