@use "@/styles/breakpoints" as *;
@use "@/styles/colours" as *;
@use "@/styles/lines" as *;

.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.6rem;
  &--wide {
    max-width: 160rem;
    @include for-tablet-landscape-up {
      padding: 0 clamp(3.2rem, 40rem, 10vw - 2.4rem);
    }
  }
}

.flow {
  display: grid;
  justify-items: start;
  gap: 2em;
}

.splitter {
  > * + * {
    margin-top: var(--splitter-spacing, 3.2rem);
  }
  @include for-tablet-landscape-up {
    display: flex;
    > * + * {
      margin-top: 0;
      margin-left: var(--splitter-spacing, 3.2rem);
    }
  }
}
