@use "@/styles/breakpoints" as *;
@use "@/styles/colours" as *;

.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.6rem;
  &--wide {
    max-width: 160rem;
    @include for-tablet-landscape-up {
      padding: 0 clamp(3.2rem, 10vw - 2.4rem, 40rem);
    }
  }
}

.sections {
  display: flex;
  flex-direction: column;
  gap: clamp(10rem, 20vh, 20rem);
}
