@use "@/styles/breakpoints" as *;
@use "@/styles/colours" as *;

@mixin vertical-lines {
  position: relative;
  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 4px;
    top: 0;
    bottom: 0;
    background-image: radial-gradient($salmon 2px, transparent 0);
    background-size: 16px 16px;
    background-position: -22px 0;
    z-index: 10;
    pointer-events: none;
  }
  &::before {
    left: 0;
    transform: translateX(1.6rem);
  }
  &::after {
    right: 0;
    transform: translateX(-1.6rem);
  }
  @content;
}

@mixin horizontal-line {
  content: '';
  width: 6.4rem;
  height: 4px;
  background-image: radial-gradient($salmon 2px, transparent 0);
  background-size: 16px 16px;
  background-position: -22px 10px;
  pointer-events: none;
  margin-right: 1.2rem;
}

@mixin horizontal-lines {
  &::before,
  &::after {
    @include horizontal-line;
  }
  &::before {
    flex-grow: 1;
    margin-right: 3.2rem;
    @include for-desktop-up {
      margin-left: 1.6rem;
    }
  }
  &::after {
    flex-grow: 1;
    background-position: right -22px top 10px;
    margin-left: 3.2rem;
    @include for-desktop-up {
      margin-right: 1.6rem;
    }
  }
  @content;
}
