// Colours

$clr-blueberry-500: #4f6fe5;
$clr-blueberry-300: #a6b5ec;
$clr-blueberry-50: #f6f4ff;
$clr-salmon: #ffb7b7;
$clr-grey-900: #212121;
$clr-grey-800: #484848;
$clr-grey-600: #808492;
$clr-grey-400: #babdc7;
$clr-grey-200: #e8e9ef;
$clr-grey-100: #f3f3f4;
$clr-white: #ffffff;

// Font weights

$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
